.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/SGC-GitHubPage/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/SGC-GitHubPage/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/SGC-GitHubPage/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/SGC-GitHubPage/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/SGC-GitHubPage/FileContentIndex/25bad9ca-8feb-45b6-bc63-15d4ded01647.vsidx
.vs/SGC-GitHubPage/v17/.wsuo
.vs/SGC-GitHubPage/v17/DocumentLayout.backup.json
.vs/SGC-GitHubPage/v17/DocumentLayout.json
.history/.gitignore_20250307232935
.history/*
.history/